<div class="m-0 corpora_panel panel_left menu_panel main-theme-fill-menu">
    <div class="scroll_inside">
        <h1 class="top_title pl-4 pt-4 pb-4 mb-0">
            Menu
            <div class="index-font close_corpora_panel"></div>
        </h1>
        <div class="w-100">
            <a href="{{ url_for('control_panel') }}"><div class="p-4 menu_item main-theme-color-dark small_text-9">Back to control panel</div></a>
            <a href="https://quantext.org"><div class="p-4 menu_item main-theme-color-dark small_text-9">Quantext home page</div></a>
            <a href="{{ url_for('live_panel') }}"><div class="p-4 menu_item main-theme-color-dark small_text-9">Quantext Live</div></a>
            <a href="https://quantext.org/about"><div class="p-4 menu_item main-theme-color-dark small_text-9">About</div></a>
            <a href="https://quantext.org/research"><div class="p-4 menu_item main-theme-color-dark small_text-9">Research</div></a>
            <a href="{{ url_for('logout') }}"><div class="p-4 menu_item main-theme-color-dark small_text-9">Log out</div></a>
        </div>
    </div>
</div>