@charset "UTF-8";

@font-face {
  font-family: "quantext";
  src:url("fonts/quantext.eot");
  src:url("fonts/quantext.eot?#iefix") format("embedded-opentype"),
    url("fonts/quantext.woff") format("woff"),
    url("fonts/quantext.ttf") format("truetype"),
    url("fonts/quantext.svg#quantext") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "quantext" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="quantext-"]:before,
[class*=" quantext-"]:before {
  font-family: "quantext" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quantext-video:before {
  content: "\61";
}
.quantext-user:before {
  content: "\62";
}
.quantext-add:before {
  content: "\64";
}
.quantext-circle:before {
  content: "\66";
}
.quantext-code:before {
  content: "\67";
}
.quantext-delete:before {
  content: "\68";
}
.quantext-duck:before {
  content: "\69";
}
.quantext-faq:before {
  content: "\6a";
}
.quantext-file:before {
  content: "\6b";
}
.quantext-options:before {
  content: "\6c";
}
.quantext-play:before {
  content: "\6d";
}
.quantext-settings:before {
  content: "\6f";
}
.quantext-share:before {
  content: "\70";
}
.quantext-edit:before {
  content: "\63";
}
.quantext-progress:before {
  content: "\71";
}
.quantext-save:before {
  content: "\72";
}
.quantext-settings-1:before {
  content: "\73";
}
.quantext-stopwatch:before {
  content: "\74";
}
.quantext-check:before {
  content: "\75";
}
.quantext-chevron-down:before {
  content: "\76";
}
.quantext-chevron-left:before {
  content: "\77";
}
.quantext-chevron-right:before {
  content: "\78";
}
.quantext-chevron-up:before {
  content: "\79";
}
.quantext-search:before {
  content: "\7a";
}
.quantext-info:before {
  content: "\41";
}
.quantext-download:before {
  content: "\42";
}
.quantext-login:before {
  content: "\43";
}
.quantext-logout:before {
  content: "\44";
}
.quantext-upload:before {
  content: "\45";
}
.quantext-book:before {
  content: "\65";
}
.quantext-chart:before {
  content: "\46";
}
.quantext-remove:before {
  content: "\47";
}
.quantext-email:before {
  content: "\48";
}
.quantext-roadmap:before {
  content: "\6e";
}
.quantext-hamburger:before {
  content: "\49";
}
.quantext-card:before {
  content: "\4a";
}
.quantext-book-1:before {
  content: "\4b";
}
.quantext-star:before {
  content: "\4c";
}
.quantext-side-by-side:before {
  content: "\4d";
}
.quantext-top-and-bottom:before {
  content: "\4e";
}
.quantext-graduate:before {
  content: "\4f";
}
.quantext-chunky-duck:before {
  content: "\50";
}
.quantext-circle-half-left:before {
  content: "\51";
}
.quantext-circle-half-right:before {
  content: "\52";
}
.quantext-circle-full:before {
  content: "\53";
}
.quantext-report:before {
  content: "\54";
}
.quantext-alert:before {
  content: "\55";
}
.quantext-check-full:before {
  content: "\56";
}
