<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>

    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/iris-font/styles.css" />

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/d3-tip.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-en-US.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.js"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script> 

    {% if title %}
    <title>{{ title }} - A Demo</title>
    {% else %}
    <title>Text analytics for teachers</title>
    {% endif %}

  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="navbar-brand" href="{{ url_for('index') }}">Text Analytics For Teachers </a></li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
          <li class="nav-item"><span id="settings" style="cursor:pointer" class="nav-link" href="#">Settings</span></li>
          {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            <li class="nav-item"><span class="navbar-text pl-4"><strong>{{ current_user.nickname }}</strong></span></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('oauth_authorize', provider='google') }}">Login with Google</a></li>
          {% endif %}

        </ul>

      </div>
    </nav>

      <div class="container-fluid" style="background:white!important">
        {% block content %}{% endblock %}
      </div><!-- /.container-fluid -->

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <span class="help-block">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </span>
      {% endif %}
    {% endwith %}
     
    
  </body>

</html>
