{% extends "base.html" %}
{% block content %}
<div class="pt-4">

    <script type="text/javascript">
        $(function(){
            $("#questionUploadButton").on("click", function(){
                $("#questionUploadProgress").show();
                $("#questionUpload").submit();
            });

            $("#corpusUploadButton").on("click", function(){
                $("#corpusUploadProgress").show();
                $("#corpusUpload").submit();
            });
        });
    </script>

    {% if current_user.is_authenticated %}
    <div class="row">
        <div class = "col-xs-6 col-md-6 pl-4 pr-4">
            <div class="row">
                <div class = "col-xs-12 col-md-12">
                    <h2 class="display-5">To get started ...</h2>
                </div>
            </div>

            <div class="alert alert-info mb-0 mt-4" role="alert" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" style="cursor:pointer"><strong>Previous analyses ({{ analyses|length }})</strong> - click to view</div>
            <div class="collapse" id="collapseExample">
                <ul class="list-group">
                    {% for a in analyses %}
                        <li class="list-group-item">
                            <a class="w-100" href="{{ url_for('index',analysisId=a.id) }}">
                                <div class="row w-100">
                                    <div class="col-md-6">{{ a.id }}</div>
                                    <div class="col-md-6"><strong>{{ a.created.strftime('%d/%m/%Y') }}</strong></div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="row mt-4">
                <div class = "col-xs-12 col-md-12">
                    <div class="card">
                        <h5 class="card-header">1. Upload a file with questions and responses</h5>
                        <div class="card-block">
                            <form id="questionUpload" class="form-inline" action = "{{ url_for('upload_file_qs') }}" method = "POST" enctype = "multipart/form-data">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" name="file" style="display: none;" multiple>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                    <button id="questionUploadButton" type="button" class="btn btn-primary" >Upload</button>
                                </div>
                            </form>
                            <div id="questionUploadProgress" class="progress mt-4" style="display:none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% if filename %}
                                <div class="alert alert-success mb-0 mt-4" role="alert"><strong>File:</strong> {{filename}} uploaded successfully.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- confirm selected file uploaded -->
            {% if filename %}
                <div class="row mt-4">
                    <div class = "col-xs-12 col-md-12">
                        <div class="card">
                            <h5 class="card-header">2. Upload teaching material (optional)</h5>
                            <div class="card-block">
                                <form id="corpusUpload" class="form-inline" action = "{{ url_for('upload_file_teach', analysisId=analysisId) }}" method = "POST" enctype = "multipart/form-data">
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" name="file" style="display: none;" multiple>
                                        </span>
                                        </label>
                                        <input type="text" class="form-control" readonly>
                                        <button id="corpusUploadButton" type="button" class="btn btn-primary" >Upload</button>
                                    </div>
                                </form>
                                <div id="corpusUploadProgress" class="progress mt-4" style="display:none">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {% if filenamet %}
                                    <div class="alert alert-success mb-0 mt-4" role="alert"><strong>File:</strong> {{filenamet}} uploaded successfully.</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class = "col-xs-12 col-md-12">
                        <div class="card">
                            <h5 class="card-header">3. Select a question to analyse</h5>
                            <div class="card-block">
                                <form id="analyseQuestionForm" class="form-inline" method="POST"
                                      {% if filenamet %}
                                      action="{{ url_for('analyse', filenamet=filenamet) }}"
                                      data-baseurl="{{ url_for('analyse', filenamet=filenamet) }}"
                                      {% else %}
                                      action="{{ url_for('analyse',analysisId=analysisId) }}"
                                      data-baseurl="{{ url_for('analyse',analysisId=analysisId) }}"
                                      {% endif %}
                                >
                                    <div class="input-group">
                                        <span class="input-group-addon">Question:</span>
                                        <select class="form-control" name="selectq">
                                            {%for q in filename | getqlist %}
                                            <option value={{q.qNum}}>{{q.qTitle}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <button id="submitAnalyseForm" type="button" class="btn btn-primary">Analyse</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <script type="text/javascript">

            $(document).on('change', ':file', function() {
                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this

            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length )
                    input.val(log);
                else
                    if( log ) alert(log);
            });


            $("#submitAnalyseForm").on("click", function(){
                var qNum = $("select[name=selectq] option:selected").val();
                var form = $("#analyseQuestionForm");
                window.location = form.data("baseurl") + "/" + qNum;
            });

        </script>

        <div class = "col-xs-6 col-md-6 pl-4 pr-4">
            <div class="row">
                <div class = "col-xs-12 col-md-12">
                    <h2 class="display-5">What format should my file be in?</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class = "col-xs-12 col-md-12">
                    <p>Only Excel files with a .xls or .xlsx extension are supported at the moment for question responses.</p>
                    <p>Download a <a href="static/demo/short-answers-data.xlsx">sample question data file</a> then upload it to see how <span class="text-muted">Text Analytics for Teachers</span> works.
                        You can also use the sample file as a template for your own data.</p>
                    <blockquote class="blockquote card-outline-primary"><strong><a href="static/demo/short-answers-data.xlsx">Download sample question excel file</a></strong></blockquote>
                    <p>One sheet should be named <span class="text-muted">qIndex</span> and consist of 2 columns: one for the question id and one for the questions.
                    Questions do not need to be in any order nor use a specified question id or sequential ids. However, each question must have a unique question id.
                    Responses to questions should be on separate sheets. i.e. all responses to one question should be on a single sheet and the sheet name should be the question id.</p>
                    <p>Each response requires an id. In other words, each response sheet should comprise two columns: the first column for responses, the second for the response id.</p>
                    <p>Column headings are not needed on any sheet.</p>
                    <p>Teaching materials can be optionally uploaded as .pdf files. This provides a useful comparison when reviewing student responses.</p>
                    <p>Download a <a href="static/demo/CVS6.pdf">sample teaching material pdf file</a> and upload it.</p>
                    <blockquote class="blockquote card-outline-primary"><strong><a href="static/demo/CVS6.pdf">Download sample teaching material pdf file</a></strong></blockquote>
                </div>
            </div>
            <div class="row">
                <div class = "col-xs-12 col-md-12">
                    <h4 class="display-5">Is there a tutorial?</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-xs-12 col-md-12">
                    <p>A short tutorial to demonstrate the insights you can gain from analysing student responses to short-answer questions will be available soon!</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    Please log in to use the text app.
    {% endif %}

{% endblock %}

