{% extends "base.html" %}
{%block content %}

<head>

<script type=text/javascript>
			$(function() {
			  $('a#set_num_keywords').bind('click', function() {
				$.getJSON('/_key_display', {
				   numKeywords: $('select[name="numKeywords"]').val(),
				}, function(data) {
				  $("#result_key").text(data.result);
				});
				return false;
			  });
			});
</script>

<script type=text/javascript>
			$(function() {
			  $('a#set_window_size').bind('click', function() {
				$.getJSON('/_window_size', {
				   windowSize: $('select[name="windowSize"]').val(),
				}, function(data) {
				  $("#result_window").text(data.result);
				});
				return false;
			  });
			});
</script>
</head>

</head>
<div class="container">
  
<!-- settings for analysis -->
<div class="row">
<div class = "col-xs-6 col-md-6"> 
<div class="row">
<h4>Text analysis options</h4>
<h5>Basic</h5>
</div>
<div class="row">
<form class="form-inline">

            <div class="form-group">
<div class="row">
                <div class="input-group">
                    <span class="input-group-addon">Number of keywords to display</span>
                       <select class="form-control" name="numKeywords">
                        
                         <option>10</option>
                         <option>15</option>
                         <option>20</option>
                         <option>25</option>
                         <option>30</option>

                       </select>
                </div>
</div>
<div class="row">
                <div class="input-group">
                    <span class="input-group-addon">Key pair window size</span>
                       <select class="form-control" name="windowSize">
                        
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                         <option>5</option>
                         <option>6</option>

                       </select>
                </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon" align="left">Exclude blacklist from: <label class="checkbox-inline"><input type="checkbox" value="" name="kblack">Keywords</label><label class="checkbox-inline"><input type="checkbox" value="" id="bblack">Keypairs</label></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon" align="left">Only include whitelist words in: <label class="checkbox-inline"><input type="checkbox" value="" name="kwhite">Keywords</label><label class="checkbox-inline"><input type="checkbox" value="" id="bwhite">Keypairs</label></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon" align="left">Include all tokens<input type="checkbox" value="" name="tokensall"></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon">Normalise contractions<input type="checkbox" value="" name="ncontractions"></span>
            </div>
</div>
<div class="row">            
            <h5>Advanced</h5>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon">Spelling correction<input type="checkbox" value="" name="spell"></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon">Stemming<input type="checkbox" value="" name="stem"></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon">Negative replacer<input type="checkbox" value="" name="negreplace"></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon">Synonym replacer<input type="checkbox" value="" name="synreplace"></span>
            </div>
</div>
<div class="row">
            <div class="input-group">
            <span class="input-group-addon">Select similarity algorithm</span>
                      <select class="form-control" name="simAlgorithm">
                        
                         <option>LSI</option>
                         <option>LDA</option>
                         <option>HDP</option>

                       </select>
            </div>
</div>
<div class="row">
    <div>
        <button type="submit" class="btn btn-primary" name="restore-settings">Restore Default Settings</button>
        <button type="submit" class="btn btn-primary" name="save-settings">Save Settings</button>
        </div>
</div>
    </div>
    </div>
</form>
</div>


<div class = "col-xs-6 col-md-6">
<!-- Wordlist and dictionary editing -->   
   <!-- Edit blacklist -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blackList">Edit blacklist</button>

  <!-- Modal -->
  <div class="modal fade" id="blackList" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Blacklist</h4>
        </div>
        <div class="modal-body">
          <p>Standard blacklist words with option to add, remove and restore default</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div>&nbsp;</div>
  <!-- Edit whitelist -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#whiteList">Edit whitelist</button>

  <!-- Modal -->
  <div class="modal fade" id="whiteList" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Whitelist</h4>
        </div>
        <div class="modal-body">
          <p>Empty whitelist with option to add, remove and restore default/clear</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div>&nbsp;</div>
  <!-- Enter dictionary -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customDict">Customise dictionary</button>

  <!-- Modal -->
  <div class="modal fade" id="customDict" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Custom dictionary</h4>
        </div>
        <div class="modal-body">
          <p>Option to add, remove custom words plus restore default/clear</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}

