<div class="col-md-12 pl-4 pr-4">
    <div class="row mt-4">
        <div class="col-md-12">
            <h5 class="card-header"><span id="responsecount"></span> responses</h5>
            <div class="card-block">
                <div id="toolbar">
                    <select class="form-control">
                        <option value="">Export basic</option>
                        <option value="all">Export all</option>
                        <option value="selected">Export selected</option>
                    </select>
                </div>
                <table id="wstable"
                       data-toggle="table"
                       data-search="true"
                       data-click-to-select="true"
                       data-show-columns="true"
                       data-query-params="queryParams"
                       data-pagination="true"
                       data-toolbar="#toolbar"
                       data-show-export="true"
                       data-export-types="['csv', 'txt']"
                       class="display"
                       data-buttons-class="secondary"
                       cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" data-sortable="true">ID</th>
                        <th data-field="response">Response</th>
                        <th data-field="words" data-sortable="true">Words</th>
                        <th data-field="sentences" data-sortable="true">Sentences</th>
                        <th data-field="ttr" data-sortable="true">TTR</th>
                        <th data-field="density" data-sortable="true">LD</th>
                        <th data-field="smog" data-sortable="true">SMOG</th>
                        <th data-field="similarity" data-sortable="true">Similarity<sup class="toolt iris-info" title="Similarity measure (between 0-1) to reference answer."></sup></th>
                        <th data-field="category" data-sortable="true" data-editable="true">Category</th>
                        <th data-field="reflections" data-editable="true">Reflections</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for i in wsdata %}
                    <tr>
                        <td></td>
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                        <td>{{i[6]}}</td>
                        <td>{{i[7]}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>