{% extends "base.html" %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="modelAnswer" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reference answer</h5>
                <div class="close iris iris-delete" data-dismiss="modal" style="margin-top: 5px;margin-bottom: -5px;"></div>
            </div>
            <div class="modal-body">
                <h5>Enter reference answer for this question</h5>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="modelanswer" placeholder=""
                            {% if modelanswer %}
                               value="{{modelanswer}}"
                            {% endif %}
                        >
                        <span class="input-group-btn">
                            <button id="process_model_answer" class="btn btn-secondary" type="button">Submit</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div><!--end modal content -->

    </div><!-- end modal dialog -->
</div><!-- end modal -->

<div id="panel" class="pt-4">
    <div class="row">
        <div class="col-md-6 pl-4 pr-4">
            <div class="row">
                <div class="col-md-9" style="display:flex;align-items: center">
                    <h5 style="margin:0">Q{{question}} {{q.qText}}</h5>
                </div>
                <div class="col-md-3">
                    <select id="changeQuestion" class="form-control">
                        <option value="0">Change question</option>
                        {% for ques in an.questions %}
                        <option value="{{ loop.index }}">{{ loop.index }} {{ ques.qText }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mt-2">
                <div data-toggle="modal" data-target="#modelAnswer" style="display:flex;align-items: center;cursor:pointer">
                    <div style="width:100%">
                        <strong>Reference answer:</strong> <span id="result">{{modelanswer}}</span>
                    </div>
                    <span class="iris iris-edit"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-4 pr-4">
            <div id="chart1" style="display:none;float:left"></div>
            <div id="chart2" style="display:none;float:left"></div>
            <div id="ttr-chart-gauge" style="float:left"></div>
            <div id="ld-chart-gauge" style="float:left"></div>
        </div>
    </div>
    {% if an.tcorpus %}
        {% include 'corpus_layout.html' %}
    {% else %}
        {% include 'fullscreen_layout.html' %}
    {% endif %}
</div>

<nav id="menu">
    {% include 'settings.html' %}
</nav>


{% if ngic %} <!--we've selected a keyword or bigram-->
    {% if not '+' in ngic  %}
    <!-- Modal -->
        <div class="modal fade" role="dialog" id="kwic">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Keyword <a href={{ url_for('visualise', question=question, ngic=ngic)}} target="_self">{{ngic}}</a> in context</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-condensed">
                            {%for line in get_kwic(question, ngic)[0] %}
                            <tr>
                                <td align="left">{{line[0]}}</td>
                                <td align="right">{{line[1]}}</td>
                                <td class="text-success">{{line[2]}}</td>
                                <td>{{line[3]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer"></div>
                </div><!--end modal content -->
            </div><!-- end modal dialog -->
        </div><!-- end modal -->
 
    {% elif '+' in ngic %}
    <!-- Modal -->
        <div class="modal fade" role="dialog" id="bgic">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Key pair <span class = "text-success">{{' '.join(ngic.split('+'))}}</span> in context</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-condensed">
                            {%for line in get_bgic(ana_q(question)[2], ngic) %}
                            <tr>
                                <td align="left">{{line[0]}}</td>
                                <td align="right">{{line[1]}}</td>
                                <td class="text-success">{{line[2]}}</td>
                                <td>{{line[3]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer"></div>
                </div><!--end modal content -->
            </div><!-- end modal dialog -->
        </div><!-- end modal -->
    {% endif %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="blackList" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Blacklist</h5>
                <div class="close iris iris-delete" data-dismiss="modal" style="margin-top: 5px;margin-bottom: -5px;"></div>
            </div>
            <div class="modal-body">
                <p>Standard blacklist words with option to add, remove and restore default</p>
                <textarea id="bListText" class="form-control" style="min-height:300px">
{%- if q.qSettings['blist'] != [] -%}
{% for item in q.qSettings['blist'] %}
{{- item }}
{% endfor %}
{%- endif -%}
                </textarea>
            </div>
            <div class="modal-footer" style="border-top:none!important">
                <button id="saveBList" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit whitelist -->

<!-- Modal -->
<div class="modal fade" id="whiteList" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Whitelist</h5>
                <div class="close iris iris-delete" data-dismiss="modal" style="margin-top: 5px;margin-bottom: -5px;"></div>
            </div>
            <div class="modal-body">
                <p>Empty whitelist with option to add, remove and restore default/clear</p>
                <textarea id="wListText" class="form-control" style="min-height:300px">
{%- if q.qSettings['wlist'] != [] -%}
{% for item in q.qSettings['wlist'] %}
{{- item }}
{% endfor %}
{%- endif -%}
                </textarea>
            </div>
            <div class="modal-footer">
                <button id="saveWList" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar:hover {
        fill: #bcbcbc ;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #efefef;
        border-radius: 2px;
        z-index: 2;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .chart-gauge
    {
        width: 200px;
        margin: 0;
        float:left;
    }
    .chart-filled
    {
        fill: #57b0c2;
    }

    .chart-filled2{
        fill:#333645;
    }
    .chart-empty, .chart-empty2
    {
        fill: #dedede;
    }

</style>

<script type="text/javascript">
    $("#changeQuestion").on("change", function(){
        var self = $(this);
        var val = $("option:selected",self).val();
        if(val != 0)
            window.location = "{{ url_for('analyse',analysisId=analysisId) }}" + "/" + val;
    });

    //chart stuff here -------------------------------------------------------------

    function drawGraph(dataset, chartId, displayText, midText, colorRange) {
        $(chartId).empty();
        var width = 100, height = 100, radius = 75 / 2;
        var length = dataset.length;
        var color = d3.scaleLinear().domain([1,length])
                .interpolate(d3.interpolateHcl)
                .range(colorRange);

        var pie = d3.pie().sort(null);

        var arc = d3.arc()
                .innerRadius(radius - 10)
                .outerRadius(radius);

        var svg = d3.select(chartId).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + ",40)");

        //Draw the Circle
        svg.append("circle")
                .attr("cx", 0)
                .attr("cy", 0)
                .attr("r", 37)
                .attr("fill", "#ffffff");

        var path = svg.selectAll("path")
                .data(pie(dataset))
                .enter().append("path")
                .attr("class", "arc")
                .attr("fill", function (d, i) { return color(i); })
                .attr("d", arc);

        svg.append("text")
                .attr("dy", ".4em")
                .style("text-anchor", "middle")
                .style("font-weight", "bold")
                .attr("class", "inside")
                .attr("fill", function (d, i) { return color(i); })
                .text(midText);

        svg.append("text")
                .attr("dy", "3.5em")
                .style("text-anchor", "middle")
                .style("font-weight", "bold")
                .attr("class", "inside")
                .attr("fill", function (d, i) { return "#8297a8"; })
                .text(displayText);
    }

    var resp = "{{ qcount }}";
    var dataset = [parseInt(resp)];
    var dataset2 = JSON.parse("{{ sents }}");

    drawGraph(dataset, "#chart1", "Responses",dataset[0], ["#57b0c2","#8297a8"]);
    drawGraph(dataset2, "#chart2", "Sentences","", ["#f3565d","#f89a98"]);

    //MINI GRAPH HERE!!
    var margin = {top: 0, right: 0, bottom: 0, left: 0},
            w = 300 - margin.left - margin.right,
            h = 30 - margin.top - margin.bottom;

    var x = d3.scaleBand()
            .rangeRound([0, w]);

    // Scales. Note the inverted domain fo y-scale: bigger is up!
    var y = d3.scaleLinear()
            .range([h, 0]);

    var pr = d3.precisionRound(0.1, 1.1),
            ft = d3.format("." + pr + "r");

    function drawBarChart(data,divId) {
        var arr = [];
        var keys = [];
        $.each(data, function (i, e) {
            var fl = parseFloat(i);
            keys.push(fl);
        });
        keys.sort(function(a,b) { return a - b;});

        for(var i=0;i<keys.length;i++)
        {
            var k = keys[i];
            var obj = {key:k,value:data[k]};
            arr.push(obj);
        }

        var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d) {
                    return "<strong>" + ft(d.key) + "</strong><br/><span style='color:#fff'>" + d.value + "</span>";
                });

        var maxVal = d3.max(arr, function(d) { return +d.value;} );
        var svg = d3.select(divId).append("svg")
                .attr("width", w + margin.left + margin.right)
                .attr("height", h + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.selectAll(".bar")
                .data(arr)
                .enter()
                .append("rect")
                .attr("class", "bar")
                .attr("x", function(d,i) { return w/arr.length * i; })
                .attr("width", ((1/arr.length ) * w) - 5)
                .attr("y", function(d) { var p = d.value / maxVal; return y(p); })
                .attr("height", function(d) { var p = d.value / maxVal; return h - y(p); })
                .attr("fill", function(d) {return "#8297a8"})
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);

        svg.call(tip);
    }

    var wordData = {{chartdata['n_Words'] | safe}};
    var sentData = {{chartdata['n_Sents'] | safe}};
    var ttrData = {{chartdata['TTR'] | safe}};
    var ldData = {{chartdata['Lex_Density'] | safe}};
    var smogData = {{chartdata['Smog_index'] | safe}};

    drawBarChart(wordData,"#wordsChart");
    drawBarChart(sentData,"#sentenceChart");
    drawBarChart(ttrData,"#ttrChart");
    drawBarChart(ldData,"#ldChart");
    drawBarChart(smogData,"#smogChart");

    //gauge chart
    var barWidth, chart, chartInset, degToRad,
            height, padRad, percToDeg, percToRad,
            radius, svg, totalPercent, width;

    padRad = 0.025;
    chartInset = 10;

    // Orientation of gauge:
    totalPercent = .75;
    margin = { top: 10, right: 10, bottom: 10, left: 10 };

    width = 200;
    height = 80;
    radius = (Math.min(width, height) / 2) + 20;
    barWidth = 10;

    /*
     Utility methods
     */
    percToDeg = function(perc) { return perc * 360; };
    percToRad = function(perc) { return degToRad(percToDeg(perc)); };
    degToRad = function(deg) { return deg * Math.PI / 180; };

    var repaintGauge = function (perc, perc2,selector,displayText)
    {
        var el = d3.select(selector);
        // Create SVG element
        svg = el.append('svg').attr('width', width).attr('height', height + margin.top + margin.bottom);

        // Add layer for the panel
        chart = svg.append('g').attr('transform', "translate(100,75)");
        chart.append('path').attr('class', "arc chart-filled");
        chart.append('path').attr('class', "arc chart-empty");
        chart.append('path').attr('class', "arc chart-empty2");
        chart.append('path').attr('class', "arc chart-filled2");

        arc2 = d3.arc().outerRadius(radius - chartInset).innerRadius(radius - chartInset - barWidth);
        arc1 = d3.arc().outerRadius(radius - chartInset).innerRadius(radius - chartInset - barWidth);
        arc4 = d3.arc().outerRadius(radius +10 - chartInset).innerRadius(radius +10 - chartInset - barWidth);
        arc3 = d3.arc().outerRadius(radius +10 - chartInset).innerRadius(radius +10 - chartInset - barWidth);

        var next_start = totalPercent;
        arcStartRad = percToRad(next_start);
        arcEndRad = arcStartRad + percToRad(perc / 2);
        next_start += perc / 2;

        arc1.startAngle(arcStartRad).endAngle(arcEndRad);

        arcStartRad = percToRad(next_start);
        arcEndRad = arcStartRad + percToRad((1 - perc) / 2);

        arc2.startAngle(arcStartRad + padRad).endAngle(arcEndRad);

        next_start = totalPercent;
        arcStartRad = percToRad(next_start);
        arcEndRad = arcStartRad + percToRad(perc2 / 2);
        next_start += perc2 / 2;

        arc3.startAngle(arcStartRad).endAngle(arcEndRad);

        arcStartRad = percToRad(next_start);
        arcEndRad = arcStartRad + percToRad((1 - perc2) / 2);

        arc4.startAngle(arcStartRad + padRad).endAngle(arcEndRad);

        var tip_arc = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d) {
                    return "<span style='color:#fff'>" + d + "</span>";
                });

        chart.select(".chart-filled").attr('d', arc3)
                .data([perc2])
                .on('mouseover', tip_arc.show)
                .on('mouseout', tip_arc.hide);
        chart.select(".chart-empty").attr('d', arc4);
        chart.select(".chart-filled2").attr('d', arc1)
                .data([perc])
                .on('mouseover', tip_arc.show)
                .on('mouseout', tip_arc.hide);
        chart.select(".chart-empty2").attr('d', arc2);

        svg.append("text")
                .attr("dy", "5em")
                .attr("transform", "translate(" + width/2 + ",0)")
                .style("text-anchor", "middle")
                .style("font-weight", "bold")
                .attr("class", "inside")
                .attr("fill", function (d, i) { return "#333"; })
                .text(displayText);

        svg.call(tip_arc);
    };

    repaintGauge({{meant.tttr}}, {{mean.meanttr}}, "#ttr-chart-gauge", "TTR");
    repaintGauge({{meant.tld}}, {{mean.meanld}}, "#ld-chart-gauge", "LD");

</script>


<script type="text/javascript">
    $(function() {

        var fixed = document.querySelector('nav.navbar');

        var slideout = new Slideout({
            'panel': document.getElementById('panel'),
            'menu': document.getElementById('menu'),
            'padding': 400,
            'tolerance': 70,
            'side':'right'
        });

        document.getElementById('settings').addEventListener('click', function() {
            if(slideout.isOpen())
            {
                slideout.close();
                fixed.style.transition = 'transform 300ms ease';
                fixed.style.transform = 'translateX(0px)';
            }
            else
            {
                slideout.open();
                fixed.style.transition = 'transform 300ms ease';
                fixed.style.transform = 'translateX(-400px)';
            }
        });

        $("#settings_close").on("click", function(){
            slideout.close();
            fixed.style.transition = 'transform 300ms ease';
            fixed.style.transform = 'translateX(0px)';
        });

        var $table = $('#wstable');
        $("#responsecount").text($table.bootstrapTable('getOptions').totalRows);

        $table.highlight = function(pat) {
            function innerHighlight(node, pat) {
                var skip = 0;
                if (node.nodeType == 3) {
                    var pos = node.data.toUpperCase().indexOf(pat);
                    pos -= (node.data.substr(0, pos).toUpperCase().length - node.data.substr(0, pos).length);
                    if (pos >= 0) {
                        var spannode = document.createElement('span');
                        spannode.className = 'highlight';
                        var middlebit = node.splitText(pos);
                        var endbit = middlebit.splitText(pat.length);
                        var middleclone = middlebit.cloneNode(true);
                        spannode.appendChild(middleclone);
                        middlebit.parentNode.replaceChild(spannode, middlebit);
                        skip = 1;
                    }
                }
                else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
                    for (var i = 0; i < node.childNodes.length; ++i) {
                        i += innerHighlight(node.childNodes[i], pat);
                    }
                }
                return skip;
            }
            return this.length && pat && pat.length ? this.each(function() {
                innerHighlight(this, pat.toUpperCase());
            }) : this;
        };

        $table.on('search.bs.table', function (e, text){
            $table.highlight(text);
            var totalRows = $table.bootstrapTable('getOptions').totalRows;
            $("#responsecount").text(totalRows);
            var ds = [totalRows,(resp-totalRows)];
            drawGraph(ds, "#chart1", "Responses", ["#57b0c2","#8297a8"]);
        });

        $(document).on("click",".keyword", function(){
            var self = $(this);
            var val = self.text();
            var e = jQuery.Event( 'keyup', { which: 13, keyCode: 13 } );
            $(".search input").val(val).trigger(e);
        });

        $("form").on('submit',function(e){
            var self = $(this);
            console.log(self);
            if(self.attr("name") != "settings")
                e.preventDefault();
        });

        $('#process_model_answer').on('click', function() {
            updateModelAnswer();
            return false;
        });

        var updateModelAnswer = function(){
            $.getJSON('/_process_model_answer', {
                modelanswer: $('input[name="modelanswer"]').val(),
                id : "{{ analysisId }}",
                question : "{{ question }}"
            }, function(data) {
                $("#result").text(data.result);
                $("#modelAnswer").modal('hide');
            });
        };

        $("input[name='modelanswer']").on('keydown',function(e){
            if(e.keyCode == 13)
                updateModelAnswer();
        });

        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });

        $("#saveBList").on("click", function(e){
            var text = $("#bListText").val();
            var arr = text.split(/\r\n|\r|\n/g);
            var url = "{{url_for('settings')}}";
            $.post(url,{id:"{{ analysisId }}",question:"{{ question }}",key:'blist',val:JSON.stringify(arr)},function(response){
                $("#keyword_render").html(response);
            });
        });

        $("#saveWList").on("click", function(e){
            var text = $("#wListText").val();
            var arr = text.split(/\r\n|\r|\n/g);
            var url = "{{url_for('settings')}}";
            $.post(url,{id:"{{ analysisId }}",question:"{{ question }}",key:'wlist',val:JSON.stringify(arr)},function(response){
                $("#keyword_render").html(response);
            });
        });
    });

</script>


{% endblock %}
