  <div style="background:#111;padding:2rem 0">
      <div style="max-width:1200px;margin:0 auto;display:flex;flex-wrap:wrap" class="quantext_footer pl-3 pr-3">
        <ul style="padding-left: 0;list-style: none;width:50%">
            <li><a href="https://quantext.org">Quantext home</a></li>
            <li><a href="https://quantext.org/about">About</a></li>
            <li style="display:none"><a href="https://quantext.org/help">Help</a></li>
            <li><a href="https://quantext.org/research">Research</a></li>
        </ul>
        <ul style="padding-left: 0;list-style: none;width:50%;display:none">
            <li><a href="#">Beta signup</a></li>
        </ul>
        <div class="pt-4" style="width:100%;color:white">
            Quantext<sup style="font-size:50%;top:-.5rem">TM</sup> is a registered trademark
        </div>
        <div class="pt-4" style="width:100%;color:white;font-size:2rem">
            <a href="https://twitter.com/quantext" target="_blank"><i class="fab fa-twitter-square" style="color:white!important"></i></a>
            <a href="https://github.com/quantext" target="_blank"><i class="fab fa-github-square" style="color:white!important"></i></a>
        </div>
    </div>
  </div>