{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/themes/original.css">
<style>
  .container-fluid{ padding:0!important }
  a{ color:#57b0c2;font-weight:600 }
</style>
{% include 'nav.html' %}
<div style="width:100%;height:500px;background:url('/static/img/quantext_feather_background3.jpg');background-size: cover;background-position: bottom;">
  <div style="display: flex;align-items: center;padding: 2rem;">
    <img src="/static/img/quantext_title_white.svg" style="height: 60px;max-width:100%;"><div class="quantext-chunky-duck" style="color: white;font-size: 3rem;margin-bottom:-.5rem;margin-left: .5rem;"></div>
  </div>
  <div style="text-align: center;color: white;font-size: 3rem;font-weight: 300;padding-top: 5rem;text-shadow: 1px 1px #333;">Help</div>
  <!--<div style="text-align: center;color: white;font-size: 1.6rem;font-weight: 300;padding-top:0;text-shadow: 1px 1px #333;">Analyse student responses in context</div>-->
</div>
<div class="pt-4">
  <div class="row">
    <div class = "col-md-12 pl-4 pr-4">
      <h1 class="top_title main-theme-color-1 m-0 quantext_info_box">Help</h1>
      <div class="col-md-12 p-0 mt-4 quantext_info_box main-theme-color-dark help_title">Getting started</div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box">
        To get started using Quantext, simply <a href="{{ url_for('signup') }}">sign up</a> a new account or <a href="{{ url_for('login') }}">log in</a> with a Google account (currently we only support Google sign in; more options
        coming soon!) Quantext is free to use for basic analyses (see <a href="{{ url_for('beta') }}">BETA SIGNUP</a> for more information on upgrading your Quantext account to the BETA).
      </div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box main-theme-color-dark help_title">Control panel</div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box">
        After logging in to Quantext, you will be taken to your control panel. From here, you can manage your files, and run data analyses.
        <h6 class="centerFlex mt-4 small_text-9"><div class="quantext-chevron-right help_chevron"></div> Getting your data into Quantext</h6>
        Uploading a new file - make sure your data is in the correct format for Quantext. Refer first to the <a href="#">Quantext data file format guide</a> for full details of the required format, limitations and caveats.
        <div class="centerFlex">Click the 'Files' tab in the menu bar, or the <div class="quantext-add help_icon"></div> icon (Upload) on the main dashboard.</div>
        The <b>File Manager</b> panel will open. Click <b>upload new file</b> and browse to locate the file you want to upload.
        Quantext files are .xlsx files and must be in the correct format. Other file types can be uploaded for use as reference files; currently only PDF files are supported. When you have selected your file, click <b>upload</b>.
        <h6 class="mt-4 centerFlex small_text-9"><div class="quantext-chevron-right help_chevron"></div> Managing your files</h6>
        All the files you have uploaded are listed in the <b>File Manager</b>, ordered by most recently uploaded. Select one or more files for analysis by selecting the checkbox next to each filename. You can filter files by type by selecting the appropriate checkbox at the top of the file list (<b>Quantext files</b> or <b>other files</b>).
        <div class="centerFlex">You can delete files by clicking the <div class="quantext-delete help_icon"></div> icon.</div>
        <h6 class="mt-4 centerFlex small_text-9"><div class="quantext-chevron-right help_chevron"></div> Running analyses</h6>
        <div class="centerFlex">Click on the 'New' tab in the menu bar, or the <div class="quantext-add help_icon"></div> icon (New) on the main dashboard.</div>
        The <b>New Analysis</b> panel will open along with the <b>File Manager</b>. Select files to analyse from the <b>File Manager</b>. Give your analysis a name and click <b>run this analysis</b>. You must select one or more student files to run an analysis. You can also choose to select one or more other files to use as reference materials.
      </div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box main-theme-color-dark help_title">Analysis dashboard</div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box">
        When you run a new analysis, you will be taken to the analysis dashboard. Here you can view statistics about your data, and interact
        with your data to extract insight.
        <h6 class="centerFlex mt-4 small_text-9"><div class="quantext-chevron-right help_chevron"></div> Summary statistics</h6>
        There are 3 basic counts summarised: words, bigrams and trigrams (collectively called ngrams). For <b>advanced users</b>, you can view a number of extra statistics and measures, such as named entities and noun phrases, as well as a variety of readability indices (TTR, MLTD, SMOG, etc).
      </div>

      <div class="col-md-12 p-0 mt-4 quantext_info_box main-theme-color-dark help_title">Reference guides</div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box">
        <a href="/static/files/Quantext Quick Reference v2.0beta.pdf">Quantext Quick Reference v2.0beta.pdf</a><br>
        <a href="/static/files/Quantext Data File Format Guide v1.0.1.pdf">Quantext Data File Format Guide v1.0.1.pdf</a>
      </div>

      <div class="col-md-12 p-0 mt-4 quantext_info_box main-theme-color-dark help_title">Frequently asked questions</div>
      <div class="col-md-12 p-0 mt-4 quantext_info_box"><a href="https://github.com/quantext/quantext/wiki/FAQs" target="_blank">https://github.com/quantext/quantext/wiki/FAQs</a></div>
    </div>
  </div>
  <div class="row main-theme-fill-dark mt-4">
    <div class="col-md-12 pl-4 pt-0 pb-0 pr-4 mt-4 quantext_info_box help_title" style="color:white">Quantext workbench</div>
    <div class="col-md-12 pl-4 pr-4 pt-0 mt-4 main-theme-fill-dark quantext_info_box" style="color:white">
      Quantext Workbench is a blog about enhancing teaching and learning. It is designed to support the use of Quantext, but you don’t have to use Quantext to make use of the blog.<br>
      <a href="https://workbench.quantext.org/" target="_blank">Link to Quantext Workbench</a>
    </div>
  </div>

  {% include 'footer.html' %}

</div>
{% endblock %}