{% extends "base.html" %}
{% block content %}

{% include 'nav.html' %}

<div class="pt-4">
    <div style="text-align:center">
        <img src="/static/img/quantext_duck_v4.svg" style="height:200px;max-width:100%" /><br/>
        <br/>
        <div style="width:400px;margin:auto;max-width:100%"><a href="{{ url_for('oauth_authorize', provider='twitter') }}" style="text-decoration:none!important"><h5 style="font-weight:400;justify-content: space-between" class="card-header card-header-1 centerFlex">Login with Twitter <div class="quantext quantext-login" style="margin-top: -2px;margin-bottom: -8px;"></div></h5></a></div><br/>
        <div style="width:400px;margin:auto;max-width:100%"><a href="{{ url_for('oauth_authorize', provider='google') }}" style="text-decoration:none!important"><h5 style="font-weight:400;justify-content: space-between" class="card-header card-header-1 centerFlex">Login with Google <div class="quantext quantext-login" style="margin-top: -2px;margin-bottom: -8px;"></div></h5></a></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 pl-5 pr-5">
            <div class="centerFlex" style="margin-bottom:-1rem">
                <div class="big-quantext quantext-book"></div>
                <h2>Why Quantext?</h2>
            </div>
            <div style="border-bottom:10px solid #EF8928;margin-bottom:2rem"></div>
            <div>
                Quantext quickly extracts insights from student responses to short answer questions or mini-essays to help you assess when and in what ways you could enhance your teaching.
                <br/><br/>
                By using Quantext, material which is routinely uploaded to your institutional Learning Management Systems (LMS) for assessment or plagiarism checks can be systematically analysed to improve teaching and inform learning design. Use Quantext to illuminate student learning and your teaching.
            </div>
        </div>
        <div class="col-md-4 pl-5 pr-5">
            <div class="centerFlex" style="margin-bottom:-1rem">
                <div class="big-quantext quantext-user"></div>
                <h2>Who is Quantext for?</h2>
            </div>
            <div style="border-bottom:10px solid #2B47A2;margin-bottom:2rem"></div>
            <div>
                Quantext is for educators.
                <br/><br/>
                Quantext has been designed by teachers for teachers working across a wide range of disciplines, class sizes and teaching modes. Quantext can help you to quickly and simply identify and fix ambiguous or confusing questions, address common misconceptions before summative assessments and track how well your students are learning the language of your discipline. Quantext also has potential for analysing student evaluation responses and discussion forum posts.
            </div>
        </div>
        <div class="col-md-4 pl-5 pr-5">
            <div class="centerFlex" style="margin-bottom:-1rem">
                <div class="big-quantext quantext-share"></div>
                <h2>Who is using Quantext?</h2>
            </div>
            <div style="border-bottom:10px solid #1EB53F;margin-bottom:2rem"></div>
            <div>
                Tertiary educators and academic developers.
                <br/><br/>
                Quantext is in the early stages of development. It is currently being trialled by teachers at several tertiary institutions in NZ and their feedback and input is informing ongoing development. If you would like to contribute to early trials <a href="/contact">please get in touch</a> - we’d love to hear from you. If you’d just like to see how Quantext works, login using your Google or Twitter account. You can use the demonstration data set supplied or upload your own data. We have prepared some basic <link to documentation page>documentation</link> to help get you started. We hope to release Quantext as a cloud-based service in 2018.
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

{% endblock %}

