{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}


    <script type="text/javascript">
        $(function(){
            $('html').css("height","100%");
            $('.container-fluid').css("height","calc(100% - 56px)");
            $('body').css("overflow","hidden");

            $("#questionUploadButton").on("click", function(){
                $("#questionUploadProgress").show();
                $("#questionUpload").submit();
            });

            $("#corpusUploadButton").on("click", function(){
                $("#corpusUploadProgress").show();
                $("#corpusUpload").submit();
            });
        });
    </script>

        <div class="row h-100 pt-4">
            <div class="col-md-3 sideColumn h-100 pl-4 pr-4" data-simplebar>
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active centerFlex" data-toggle="tab" href="#files" role="tab">
                            <span class="quantext-file index-font mr-1"></span>
                            Student files ({{ files|length }})
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link centerFlex" data-toggle="tab" href="#corpus" role="tab">
                            <span class="quantext-book index-font mr-1"></span>
                            Reference materials ({{ refcorpora|length }})
                        </a>
                    </li>
                </ul>

                <div class="tab-content mt-4">
                    <div id="files" class="tab-pane active" role="tabpanel">
                        <div><strong>Upload new student file</strong></div>
                        <form id="questionUpload" class="form-inline" action = "{{ url_for('upload_file_qs') }}" method = "POST" enctype = "multipart/form-data">
                            <div class="input-group w-100">
                                <label class="input-group-btn">
                                        <span class="btn btn-quantext dark centerFlex">
                                            Browse&hellip; <input id="student_file_input" type="file" name="file" style="display: none;" multiple>
                                        </span>
                                </label>
                                <input type="text" class="form-control" readonly>
                                <button id="questionUploadButton" type="button" class="btn btn-quantext green centerFlex">Upload <span class="quantext-upload index-font ml-1"></span></button>
                            </div>
                        </form>
                        <div id="questionUploadProgress" class="progress mt-4" style="display:none">
                            <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <ul class="list-group mt-4 p-0">
                            {% for f in files %}
                                <li class="list-group-item" style="border:none;padding: .5rem 0!important;border-bottom: 2px solid #eee!important;margin: 0;">
                                    <input id="checkbox_{{f.id}}" class="student_file" type="checkbox" data-id="{{f.id}}" data-filename="{{f.filename}}" />
                                    <label class="w-100" for="checkbox_{{f.id}}">
                                        <div class="w-100">
                                            <div class="row w-100 centerFlex m-0">
                                                <div class="col-md-7 p-0" style="text-overflow: ellipsis;overflow: hidden;">
                                                    <span style="font-weight:500">{{ f.filename }}</span>
                                                </div>
                                                <div class="col-md-4 pr-0" style="text-align:right"><span style="font-weight:500">{{ f.created.strftime('%d/%m/%Y') }}</span></div>
                                                <div class="col-md-1 p-0" style="margin-bottom:-6px;text-align: right;font-weight:600">
                                                    <span class="file_checkbox"></span>
                                                </div>
                                            </div>
                                            <div class="row w-100 centerFlex" style="margin-top: -5px;color: #aaa;">
                                                <div class="col-md-12">
                                                    {{ f.questions|length }} questions
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="corpus" class="tab-pane" role="tabpanel">
                        <div><strong>Upload new reference materials</strong></div>
                        <form id="corpusUpload" class="form-inline" action = "{{ url_for('upload_file_teach') }}" method = "POST" enctype = "multipart/form-data">
                            <div class="input-group w-100">
                                <label class="input-group-btn">
                                        <span class="btn btn-quantext dark centerFlex">
                                            Browse&hellip; <input id="corpus_file_input" type="file" name="file" style="display: none;" multiple>
                                        </span>
                                </label>
                                <input type="text" class="form-control" readonly />
                                <button id="corpusUploadButton" type="button" class="btn btn-quantext green centerFlex" style="">Upload <span class="quantext-upload index-font ml-1"></span></button>
                            </div>
                        </form>
                        <div id="corpusUploadProgress" class="progress mt-4" style="display:none">
                            <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <ul class="list-group mt-4 p-0">
                            {% for r in refcorpora %}
                                <li class="list-group-item" style="border:none;padding: .5rem 0!important;border-bottom: 2px solid #eee!important;margin: 0;">
                                    <input id="checkbox_{{r.id}}" class="ref_file" type="checkbox" data-id="{{r.id}}" data-filename="{{r.filename}}" />
                                    <label class="w-100" for="checkbox_{{r.id}}">
                                        <div class="w-100">
                                            <div class="row w-100 centerFlex m-0">
                                                <div class="col-md-7 p-0" style="text-overflow: ellipsis;overflow: hidden;">
                                                    <span style="font-weight:500">{{ r.filename }}</span>
                                                </div>
                                                <div class="col-md-4 pr-0" style="text-align:right"><span style="font-weight:500">{{ r.created.strftime('%d/%m/%Y') }}</span></div>
                                                <div class="col-md-1 p-0" style="margin-bottom:-6px;text-align: right;font-weight:600">
                                                    <span class="file_checkbox"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 h-100">
                <div class="row" style="height:50%;border-bottom: 2px solid #ccc;" data-simplebar>
                    <div class="col-md-12 pl-4 pr-4">
                        <h6 class="centerFlex" style="font-weight:600"><span class="quantext-add index-font mr-1"></span>New analysis</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon btn-quantext dark">Name</div>
                                    <input type="text" class="form-control" id="analysisName" />
                                    <button class="btn btn-quantext green centerFlex" id="runAnalysis">Run this analysis <span class="quantext-play index-font ml-1"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <span><strong>Current student files selected (<span id="currFileCount">0</span>)</strong></span><br/>
                                <ul id="curr_files"></ul>
                            </div>
                            <div class="col-md-6">
                                <span><strong>Current reference materials selected (<span id="currCorporaCount">0</span>)</strong></span><br/>
                                <ul id="curr_corpora"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:50%" data-simplebar>
                    <div class="col-md-12 pl-4 pr-4 pt-4">
                        <h6 class="centerFlex" style="font-weight:600"><span class="quantext-save index-font mr-1"></span>Saved analyses ({{ analyses|length }})</h6>
                        <ul class="list-group">
                            {% for a in analyses %}
                                <li class="list-group-item m-0" style="border: none;padding: .5rem 0!important;border-bottom: 2px solid #eee!important">
                                    <div class="row w-100 centerFlex m-0">
                                        <div class="col-md-6 pl-0"><span style="font-weight:500">{{ a.name }}</span></div>
                                        <div class="col-md-5" style="text-align:right"><span style="font-weight:500">{{ a.created.strftime('%I:%M%p %d/%m/%Y') }}</span></div>
                                        <div class="col-md-1 pr-0" style="display:flex;text-align: right;">
                                            <a class="w-100 index-font mr-2" href="{{ url_for('analyse', analysis_id=a.id) }}">
                                                <span class="quantext-play" style="color:#57c2bc;text-decoration:none;"></span>
                                            </a>
                                            <a href="#" class="index-font">
                                                <span class="quantext-delete deleteAnalysis deleteRed" data-id="{{ a.id }}"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row w-100 centerFlex" style="margin-top: -5px;color: #aaa;">
                                        <div class="col-md-12">
                                            {{ a.files|length }} student files | {{ a.refcorpus|length }} reference materials
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">

    $(document).on('change', ':file', function() {
        var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

        var studentFile = (input.attr("id") == "student_file_input");

        var ext = input.val().match(/\.([^\.]+)$/);
        if(ext) {
            ext = ext[1];
            if(studentFile) {
                switch (ext) {
                    case 'xls':
                    case 'xlsx':
                        input.trigger('fileselect', [numFiles, label]);
                        break;
                    default:
                        alert('Sorry, student files must be of type .xls or .xlsx.');
                        input.val('');
                }
            }
            else{
                switch (ext) {
                    case 'pdf':
                        input.trigger('fileselect', [numFiles, label]);
                        break;
                    default:
                        alert('Sorry, student files must be of type .pdf.');
                        input.val('');
                }
            }
        } else {
            alert('Sorry, this type of file is not allowed.');
        }
    });

    $(':file').on('fileselect', function(event, numFiles, label) {
        var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length )
            input.val(log);
        else
            if( log ) alert(log);
    });

    $(document).on('click', '.student_file', function(){
        var self = $(this);
        var id = self.data("id");
        var filename = self.data('filename');
        if(self.is(":checked"))
        {
            var span = $("<span></span>").text(filename);
            var icon = $("<span></span>").addClass("quantext-remove index-font deleteRed");
            var li = $("<li></li>").addClass(id).append(span,icon).data("id",id);
            $("#curr_files").append(li);
        }
        else
            $("."+id).remove();

        $("#currFileCount").text($("#curr_files li").length);
    });

    $(document).on('click', '.ref_file', function(){
        var self = $(this);
        var id = self.data("id");
        var filename = self.data('filename');
        if(self.is(":checked"))
        {
            var span = $("<span></span>").text(filename);
            var icon = $("<span></span>").addClass("quantext-remove index-font deleteRed");
            var li = $("<li></li>").addClass(id).append(span,icon).data("id",id);
            $("#curr_corpora").append(li);
        }
        else
            $("."+id).remove();

        $("#currCorporaCount").text($("#curr_corpora li").length);
    });

    $("#analysisName").on("keyup", function(e){
        if(e.keyCode == 13)
            $("#runAnalysis").click();
    });

    $("#runAnalysis").on('click', function(){
        var name = $("#analysisName").val();
        var hasFiles = false;
        var hasCorpus = false;

        if(name != "") {
            var data = [];
            $("li", "#curr_files").each(function (i, e) {
                data.push($(e).data("id"));
            });
            if(data.length > 0) hasFiles = true;
            var files = data.join(',');
            data = [];

            $("li", "#curr_corpora").each(function (i, e) {
                data.push($(e).data("id"));
            });
            if(data.length > 0) hasCorpus = true;
            var refcorpus = data.join(',');

            var url = "{{ url_for('new_analysis') }}";

            if(hasFiles) {
                $.post(url, {files: files, name: name, refcorpus: refcorpus}, function (response) {
                    window.location = "{{ url_for('analyse') }}" + response;
                });
            }
            else {
                alert("You must select at least one student file to analyse.");
            }
        }
        else {
            alert("Please enter a name");
        }
    });

    $(document).on("click",".deleteAnalysis", function(){
        var self = $(this);
        var id = self.data("id");
        $.post("{{ url_for('delete_analysis') }}", {id:id}, function(){
            window.location.reload();
        });
    });

</script>

    {% else %}
    <div class="pt-4">
        <div style="text-align:center">
            <img src="/static/img/quantext_duck_v4.svg" style="height:200px;max-width:100%" /><br/>
            <br/>
            <div style="width:400px;margin:auto;max-width:100%"><a href="{{ url_for('oauth_authorize', provider='twitter') }}" style="text-decoration:none!important"><h5 style="font-weight:400;justify-content: space-between" class="card-header card-header-1 centerFlex">Login with Twitter <div class="quantext quantext-login" style="margin-top: -2px;margin-bottom: -8px;"></div></h5></a></div><br/>
            <div style="width:400px;margin:auto;max-width:100%"><a href="{{ url_for('oauth_authorize', provider='google') }}" style="text-decoration:none!important"><h5 style="font-weight:400;justify-content: space-between" class="card-header card-header-1 centerFlex">Login with Google <div class="quantext quantext-login" style="margin-top: -2px;margin-bottom: -8px;"></div></h5></a></div>

        </div>
        <div class="row mt-5">
            <div class="col-md-4 pl-5 pr-5">
                <div class="centerFlex" style="margin-bottom:-1rem">
                    <div class="big-quantext quantext-book"></div>
                    <h2>Why Quantext?</h2>
                </div>
                <div style="border-bottom:10px solid #EF8928;margin-bottom:2rem"></div>
                <div>
                    Quantext quickly extracts insights from student responses to short answer questions or mini-essays to help you assess when and in what ways you could enhance your teaching.
                    <br/><br/>
                    By using Quantext, material which is routinely uploaded to your institutional Learning Management Systems (LMS) for assessment or plagiarism checks can be systematically analysed to improve teaching and inform learning design. Use Quantext to illuminate student learning and your teaching.
                </div>
            </div>
            <div class="col-md-4 pl-5 pr-5">
                <div class="centerFlex" style="margin-bottom:-1rem">
                    <div class="big-quantext quantext-user"></div>
                    <h2>Who is Quantext for?</h2>
                </div>
                <div style="border-bottom:10px solid #2B47A2;margin-bottom:2rem"></div>
                <div>
                    Quantext is for educators.
                    <br/><br/>
                    Quantext has been designed by teachers for teachers working across a wide range of disciplines, class sizes and teaching modes. Quantext can help you to quickly and simply identify and fix ambiguous or confusing questions, address common misconceptions before summative assessments and track how well your students are learning the language of your discipline. Quantext also has potential for analysing student evaluation responses and discussion forum posts.
                </div>
            </div>
            <div class="col-md-4 pl-5 pr-5">
                <div class="centerFlex" style="margin-bottom:-1rem">
                    <div class="big-quantext quantext-share"></div>
                    <h2>Who is using Quantext?</h2>
                </div>
                <div style="border-bottom:10px solid #1EB53F;margin-bottom:2rem"></div>
                <div>
                    Tertiary educators and academic developers.
                    <br/><br/>
                    Quantext is in the early stages of development. It is currently being trialled by teachers at several tertiary institutions in NZ and their feedback and input is informing ongoing development. If you would like to contribute to early trials <a href="/contact">please get in touch</a> - we’d love to hear from you. If you’d just like to see how Quantext works, login using your Google or Twitter account. You can use the demonstration data set supplied or upload your own data. We have prepared some basic <link to documentation page>documentation</link> to help get you started. We hope to release Quantext as a cloud-based service in 2018.
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
    {% endif %}

{% endblock %}

