{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/themes/original.css') }}">
<style>
    .container-fluid{ padding:0!important }
    a{ color:#57b0c2 }
</style>
{% include 'nav.html' %}
<div style="position:relative;width:100%;height:500px;background:url('/static/img/quantext_feather_background.jpg');background-size: cover;background-position: top;">
    <div class="centerFlex p-4 main_duck">
        <img src="{{ url_for('static', filename='img/quantext_title_white.svg') }}" style="height: 60px;max-width:100%;"><div class="quantext-chunky-duck" style="color: white;font-size: 3rem;margin-bottom:-.5rem;margin-left: .5rem;"></div>
    </div>
    <div style="position:absolute;top:0;bottom:0;right:0;left:0;display:flex;align-items:center;flex-direction:column">
        <div id="big_index_title" style="margin-top:auto">Text analytics for higher education</div>
        <div id="big_index_subtitle" style="margin-bottom:auto">Analyse student writing in context</div>
    </div>
</div>
<div class="pt-4">

    <div class="main-theme-fill-menu index_box">
        <div class="pt-0 pb-0" style="background: url('/static/img/smiling_girl.jpg');color:white;position: relative;opacity: 1;background-size:cover;background-position:top right">
            <div class="col-md-6 pl-5 pr-5 pb-5 mt-0 mb-5 pt-5" style="z-index: 4;">
                <div class="centerFlex">
                    <div style="background:#57b0c2;padding: 1rem .8rem;border-radius: 10rem;margin-right: .5rem;margin-bottom: .5rem;">
                        <div class="inner-icon quantext-user" style="margin-bottom: -1rem;font-size: 2rem;margin-top: -.5rem;"></div>
                    </div>
                    <h2 style="font-weight:300">Quantext for teachers</h2>
                </div>
                <div style="border-bottom:10px solid #57b0c2;margin-bottom:2rem"></div>
                <div style="font-size: 1.2rem;font-weight: 300;">
                    Helps you to understand your students:<br/><br/>
                    <ul>
                        <li>Address common misconceptions.</li>
                        <li>Identify and fix ambiguous or confusing material.</li>
                        <li>Identify changes in student learning.</li>
                        <li>Compare learning within and between student cohorts.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="background: #193e45;position: absolute;top: 0;bottom: 0;left: 0;opacity: .95;z-index: 0;"></div>
        </div>
    </div>

    <div class="main-theme-fill-menu index_box">
        <div class="pt-0 pb-0" style="background: url('/static/img/whiteboard.jpg');color:white;position: relative;opacity: 1;background-size:cover;background-position:top right">
            <div class="col-md-6 pl-5 pr-5 pb-5 mt-0 mb-5 pt-5" style="z-index: 4;">
                <div class="centerFlex">
                    <div style="background:#a2367c;padding: 1rem .8rem;border-radius: 10rem;margin-right: .5rem;margin-bottom: .5rem;">
                        <div class="inner-icon quantext-user" style="margin-bottom: -1rem;font-size: 2rem;margin-top: -.5rem;"></div>
                    </div>
                    <h2 style="font-weight:300">Quantext for course coordinators</h2>
                </div>
                <div style="border-bottom:10px solid #a2367c;margin-bottom:2rem"></div>
                <div style="font-size: 1.2rem;font-weight: 300;">
                    Helps you to design better courses:
                    <br><br>
                    <ul>
                        <li>Analyse curriculum documents and teaching materials.</li>
                        <li>Align and design courses and assessment.</li>
                        <li>Prepare for course and quality audits.</li>
                        <li>Compare learning outcomes with learning objectives.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="background: #220c1a;position: absolute;top: 0;bottom: 0;left: 0;opacity: .95;z-index: 0;"></div>
        </div>
    </div>

    <div class="main-theme-fill-menu index_box">
        <div class="pt-0 pb-0" style="background: url('/static/img/institution.jpg');color:white;position: relative;opacity: 1;background-size: cover;background-position: top right;">
            <div class="col-md-6 pl-5 pr-5 pb-5 mt-0 mb-5 pt-5" style="z-index: 4;">
                <div class="centerFlex">
                    <div style="background:#20a949;padding: 1rem .8rem;border-radius: 10rem;margin-right: .5rem;margin-bottom: .5rem;">
                        <div class="inner-icon quantext-user" style="margin-bottom: -1rem;font-size: 2rem;margin-top: -.5rem;"></div>
                    </div>
                    <h2 style="font-weight:300">Quantext for tertiary institutions</h2>
                </div>
                <div style="border-bottom:10px solid #20a949;margin-bottom:2rem"></div>
                <div style="font-size: 1.2rem;font-weight: 300;">
                    Helps you to compete effectively:
                    <br><br>
                    <ul>
                        <li>Analyse student evaluations of teaching.</li>
                        <li>Identify areas for systemic improvement.</li>
                        <li>Track student experience.</li>
                        <li>Compare experience within and between student cohorts.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="background: #0a3718;position: absolute;top: 0;bottom: 0;left: 0;opacity: .95;z-index: 0;"></div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

<script>

    /*$(".kwic_bar").on("keyup", function(e){
        if(e.keyCode == 13)
        {
            var self = $(this);
            var id = self.data("id");
            var response = self.val();
            $.post("/save_index_response",{id:id,response:response},function(response){
                $(".index_keywords").empty().append(response);
                self.val("");
            });
        }
    });*/

</script>

{% endblock %}

