<nav class="navbar navbar-toggleable-md">
    <nav class="navbar navbar-toggleable-md p-0 w-100">
        <button class="navbar-toggler p-0" style="margin-bottom:-10px" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="medium-quantext quantext-hamburger" style="cursor: pointer;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto centerFlex" style="width: 100%;">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('control_panel') }}" style="padding-left: 0;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('control_panel') }}">About</a></li>
                <li class="nav-item" style="display:none"><a class="nav-link" href="{{ url_for('control_panel') }}">Help</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('control_panel') }}">Research</a></li>
                <li class="nav-item" style="display:none"><a class="nav-link" href="{{ url_for('control_panel') }}" style="color:crimson;text-transform: uppercase">Beta signup</a></li>
                <!--<div style="display:none">-->
                {% if current_user.is_authenticated %}
                    <li class="nav-item control-panel"><a class="nav-link" href="{{ url_for('control_panel') }}">Control panel</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                    <li class="btn btn-quantext login-nav">
                        <a class="" href="{{ url_for('login') }}" style="font-size: .9rem;font-weight: 400;color: white;">Log in</a>
                    </li>
                    <li class="btn btn-quantext dark signup-nav">
                        <a class="" href="{{ url_for('login',_anchor='signup') }}" style="font-size: .9rem;font-weight: 400;color: white;">Sign up</a>
                    </li>
                {% endif %}
                <!--</div>-->
            </ul>
        </div>
    </nav>
</nav>