
<div class="quantext_live_div live_{{ l['id'] }} full_response_div main-theme-color-dark main-theme-border-menu" data-id="{{ q['file_id'] }}" data-analysis_id="{{ l['id'] }}" style="border-bottom: 2px solid;display:flex;position:relative;flex-direction: column;padding:1rem 0 0">
    <div style="text-transform:uppercase;font-size:.8rem;font-weight:600;display:flex;justify-content:left" class="main-theme-color-dark">
        {{ l['created'].strftime('%d.%m.%Y %H:%M') }}
    </div>
    <div class="text_div main-theme-color-dark centerFlex" style="font-size:.9rem;font-weight:400;flex-flow: wrap;padding-right:1rem">
        {{ k }}
    </div>
    <div class="main-theme-color-menu" style="width: 100%;display: flex;padding:1rem 0 .5rem;text-transform: uppercase;font-size: .7rem;font-weight: 600;opacity: .8;cursor: default;">
        0 responses
    </div>
</div>
