<div class = "col-xs-12 col-md-12">
    <div class = "row mt-4">
        <div class = "col-xs-12 col-md-12">
            <div class="card">
                <h5 class="centerFlex card-header card-header-{{ student_file.index+1 }} p-4" style="margin-bottom:-1.5rem">Readability indices
                    <div id="readability_{{ student_file.file.id }}_{{ student_file.left_or_right }}" data-which="readability" data-id="{{ student_file.file.id }}" style="margin-bottom: -10px;margin-left: auto;margin-top: -4px;" class="quantext quantext-settings" data-toggle="collapse" data-target="#readability_settings_{{ student_file.file.id }}_{{ student_file.left_or_right }}"></div>
                </h5>
                <div id="readability_settings_{{ student_file.file.id }}_{{ student_file.left_or_right }}" class="collapse">
                    <div class="card-block card-block-{{ student_file.index+1 }} p-4 pt-5">
                        <div class="row m-0">
                            {{ checkbox("readability_words","Response length (words)","Tooltip here",student_file,6,"readability","pr-3") }}
                            {{ checkbox("readability_sents","Sentences/response","Tooltip here",student_file,6,"readability","pl-3") }}
                        </div>
                        <div class="row m-0">
                            {{ checkbox("readability_ttr","Lexical diversity (TTR)","Tooltip here",student_file,6,"readability","pr-3") }}
                            {{ checkbox("readability_ld","Lexical density (LD)","Tooltip here",student_file,6,"readability","pl-3") }}
                        </div>
                        <div class="row m-0 pb-4">
                            {{ checkbox("readability_smog","SMOG","Tooltip here",student_file,6,"readability","pr-3") }}
                            {{ checkbox("readability_similarity","Similarity","Tooltip here",student_file,6,"readability","pl-3") }}
                        </div>
                        <div class="row m-0">
                            {{ select("simalgorithm", "Similarity algorithm", ["word2vec"], "Tip here.",student_file,6,"readability","pr-3") }}
                        </div>
                    </div>
                </div>
                <div class="card-block card-header-{{ student_file.index+1 }} p-4">
                    <div class="row">
                        <div class = "col-xs-6 col-md-6">
                            <b>Measure</b>
                        </div>
                        <div class="col-md-2">
                            <b>Mean</b>
                        </div>
                        <div class="col-md-4 histogramChart p-0">
                            <b>Histogram</b>
                        </div>
                    </div>
                    {% if q.qSettings["readability_ttr"] %}
                    <div class="row histogramRow">
                        <div class = "col-xs-6 col-md-6">
                            Lexical diversity (TTR)<sup class="toolt quantext-info" title="An number between 0-1 which gives the type to token ratio (TTR) - the number of unique words divided by the total number of words. For example, ‘The cat sat on the mat’ has a TTR of 5/6 = 0.83"></sup>
                        </div>
                        <div class="col-md-2">
                            <strong>{{student_file["sumq"]["means"]["TTR"]}}</strong>
                        </div>
                        <div class="col-md-4 histogramChart p-0">
                            <div class="ttrChart"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if q.qSettings["readability_ld"] %}
                    <div class="row histogramRow">
                        <div class = "col-xs-6 col-md-6">
                            Lexical density (LD)<sup class="toolt quantext-info" title="A number between 0-1 which indicates the ratio of content words to the total number of words. Content words are nouns, verbs, adjectives and adverbs. "></sup>
                        </div>
                        <div class="col-md-2">
                            <strong>{{student_file["sumq"]["means"]["LD"]}}</strong>
                        </div>
                        <div class="col-md-4 histogramChart p-0">
                            <div class="ldChart"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if q.qSettings["readability_smog"] %}
                    <div class="row histogramRow">
                        <div class = "col-xs-6 col-md-6">
                            SMOG index<sup class="toolt quantext-info" title="One of many readability indices which roughly correlate with the level of educational attainment. It is commonly used to assess the readability of important health information materials. SMOG stands for ‘Simple Measure of Gobbledygook’ and the range of values is typically between 5 - 18. Like many indices, it is only valid where responses are a reasonable length - at least 30 words."></sup>
                        </div>
                        <div class="col-md-2">
                            <strong>{{student_file["sumq"]["means"]["SMOG"]}}</strong>
                        </div>
                        <div class="col-md-4 histogramChart p-0">
                            <div class="smogChart"></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>