{% macro checkbox(name, text, tipText) -%}
<div class="form-check">
    <div class="row">
        <div class="col-md-10">
            <div class="switchLabel">{{ text }}<sup class="toolt iris-info" title="{{ tipText }}"></sup></div>
        </div>
        <div class="col-md-2">
            <label class="form-check-label switch">
                <input class="form-check-input setting-control" type="checkbox" name="{{ name }}"
                {% if q.qSettings[name] %}
                    checked="checked"
                {% endif %}
                />
                <div class="slider round"></div>
            </label>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro select(name, title, array, tipText) -%}
<div class="row">
    <div class="col-md-12">
        <span><strong>{{ title }}</strong></span><sup class="toolt iris-info" title="{{ tipText }}"></sup><br/>
        <select class="form-control setting-control" name="{{ name }}">
            {%for k in array %}
            <option value="{{k}}"
            {% if q.qSettings[name] == k %}
                selected="selected"
            {% endif %}
            >{{k}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{%- endmacro %}

<div class="row" style="margin:0!important">
    <div class="col-md-12" style="padding:0!important"><!--      1st column of 2 -->
        <h5 class="card-header card-header-2">Settings <span id="settings_close" class="iris iris-delete" style="margin-top:-2px;float:right"></span></h5>
        <form name="settings" method="post" action="" style="padding:20px">
            <input type="hidden" name="id" value="{{ analysisId }}" />
            <input type="hidden" name="question" value="{{ question }}" />
            <h5>Basic</h5>
            <div class="form-group">
                {{ select("nkey", "Number of keywords to display", [10,15,20,25,30], "Select from the top 10 to the top 30 keywords to display for both student responses and teaching corpus.") }}
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h5 data-toggle="collapse" aria-expanded="false" data-target="#wordOptions" style="cursor:pointer;display:flex">
                            <div style="width:100%">Word options</div>
                            <span id="wo-chevron" class="iris iris-down-chevron"></span>
                        </h5>
                        <div class="collapse" id="wordOptions">
                            {{ checkbox("spell","Correct spelling", "Spell-checking facility - to be implemented. Default setting is off.") }}
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#customDict">Customise dictionary</button>
                            {{ checkbox("stem","Stemming","Finds the lemma or base form of each word. This is useful when looking at similarity to a reference response. For example, ‘teach’, ’taught’ and ‘teaching’ would all be reduced to ‘teach’. - to be implemented.") }}
                            {{ checkbox("negreplace","Negative replacer","Useful when looking at similarity to a reference response. For example, ‘Heart rate does not increase’ may be replaced by ‘Heart rate decreases.’ However, should be used with care and in the context of question being asked. In this example, heart rate may simply not change. Requires a list of antonyms - not yet implemented.") }}
                            {{ checkbox("synreplace","Synonym replacer","Useful when looking at similarity to a reference response. For example, ‘The heart beats rapidly’ and ‘The heart beats quickly’ mean the same thing so all instances of quickly can be replaced with rapidly. In general, requires a custom synonym list - not yet implemented.") }}
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h5 data-toggle="collapse" aria-expanded="false" data-target="#blistOptions" style="cursor:pointer;display:flex">
                            <div style="width:100%">Blacklist/whitelist settings</div>
                            <span id="bl-chevron" class="iris iris-down-chevron"></span>
                        </h5>
                        <div class="collapse" id="blistOptions">
                            {{ checkbox("kblack","Exclude blacklist words from keywords","The blacklist contains about 1000 words and includes common small words (e.g. articles, conjunctions, prepositions, pronouns) that may add little to the overall meaning. To ensure specific words are on the blacklist, choose edit blacklist to add them. Blacklist words can be excluded from both keyword and key pair lists.") }}
                            {{ checkbox("bblack","Exclude blacklist words from key pairs","The blacklist contains about 1000 words and includes common small words (e.g. articles, conjunctions, prepositions, pronouns) that may add little to the overall meaning. To ensure specific words are on the blacklist, choose edit blacklist to add them. Blacklist words can be excluded from both keyword and key pair lists.") }}
                            {{ checkbox("white","Include whitelist words in keywords/key pairs","The whitelist is empty by default.  If you would like to ensure certain words are not on the blacklist, simply add them to the white list.") }}
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#blackList">Edit blacklist</button>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#whiteList">Edit whitelist</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Filters</h5>
                        {{ checkbox("punct","Filter punctuation","Remove all punctuation symbols from frequency counts. Off by default.") }}
                        {{ checkbox("nums","Filter numbers","Remove all numeric characters from frequency counts. Off by default.") }}
                    </div>
                </div>
                <hr/>
                <h5 data-toggle="collapse" aria-expanded="false" data-target="#advancedOptions" style="cursor:pointer;display:flex">
                    <div style="width:100%">Advanced</div>
                    <span id="ao-chevron" class="iris iris-down-chevron"></span>
                </h5>
                <div class="collapse" id="advancedOptions">
                    {{ select("measure", "Bigram measure", ["RAW","LR","STUDT","CHISQ","PMI"],"Select the algorithm to use to calculate key pair frequency. Depending on the size and nature of your text some measure may yield more useful results than others. The default setting is Log Ratio. All algorithms will default to raw count if there is a problem calculating the measure.") }}
                    <div style="margin-top: 10px;"></div>
                    {{ select("simalgorithm", "Similarity algorithm", ["word2vec","LSI","LDA","HDP"],"Currently not selectable. Word2Vec is the default. Other options yet to be implemented.") }}
                </div>
            </div>
        </form>
    </div>

    <!-- Wordlist and dictionary editing -->   

        <!-- Enter dictionary -->
        <!-- Modal -->
        <div class="modal fade" id="customDict" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Custom dictionary</h4>
                    </div>
                    <div class="modal-body">
                        <p>Option to add, remove custom words plus restore default/clear</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

</div> <!--   End  main row -->

<script type="text/javascript">

    var url = "{{url_for('settings')}}";

    $(".setting-control").on("change", function(){
        var self = $(this);
        var key = self.attr("name");
        var val = self.val();

        if(self.is(":checkbox"))
            val = self.is(":checked") ? "True" : "False";

        $.post(url,{id:"{{ analysisId }}",question:"{{ question }}",key:key,val:val},function(response){
            $("#keyword_render").html(response);
        });
    });

    $('#wordOptions').on('show.bs.collapse', function () {
        $("#wo-chevron").removeClass("iris-down-chevron").addClass("iris-up-chevron");
    }).on('hide.bs.collapse', function () {
        $("#wo-chevron").removeClass("iris-up-chevron").addClass("iris-down-chevron");
    });

    $('#blistOptions').on('show.bs.collapse', function () {
        $("#bl-chevron").removeClass("iris-down-chevron").addClass("iris-up-chevron");
    }).on('hide.bs.collapse', function () {
        $("#bl-chevron").removeClass("iris-up-chevron").addClass("iris-down-chevron");
    });

    $('#advancedOptions').on('show.bs.collapse', function () {
        $("#ao-chevron").removeClass("iris-down-chevron").addClass("iris-up-chevron");
    }).on('hide.bs.collapse', function () {
        $("#ao-chevron").removeClass("iris-up-chevron").addClass("iris-down-chevron");
    });


</script>