{% import "macros.html" as macros %}

{% for question in columns %}
<div class="parent_{{ question['number'] }} p-4 pt-5 parentContainer col-md-12 file_{{ file['id'] }}" data-question="{{ question['number'] }}">
    <div class="row m-0">
        <div class="col-md-12 p-0 main-theme-color-menu" style="text-transform: uppercase;font-size:1rem;font-weight:500;line-height: 1">
            <div class="main_question_title centerFlex">
                <div class="main_title_text">{{ question['text'] }}</div>
                <input type="text" class="form-control main_title_text_input main-theme-fill-dark" style="margin: 0.5rem 0;padding:1rem;display:none" data-question_number="{{ question['number'] }}" value="{{ question['text'] }}">
                <div class="quantext-edit title_edit_icon main-theme-color-dark" style="font-size:2rem;margin-bottom:-.3rem;opacity:0.5;margin-left:.5rem;cursor:pointer"></div>
                <div class="quantext-check title_success_icon main-theme-color-dark" style="font-size:2rem;margin-bottom:-.3rem;opacity:0.5;margin-left:.5rem;cursor:pointer;display:none"></div>
            </div>
            {% if current_user['plan'] == "full" or current_user['plan'] == "flock" %}
                <div class="live_link mt-2">Live link:&nbsp;<a href="{{ url_for('live',key=total_urls[loop.index0]) }}" target="_blank">/live/{{ total_urls[loop.index0] }}</a></div>
            {% else %}
                <div class="live_link notAvailable mt-2">Live link:&nbsp;<span>/live/{{ total_urls[loop.index0] }}</span></div>
            {% endif %}
        </div>
        <div class="col-md-12 p-0 mt-3 button_group" style="display:flex;align-items:baseline">
            <div data-number="{{ loop.index0 }}" class="overview_button main_buttons btn btn-quantext main-theme-fill-dark mr-2" style="border: none;box-shadow: 0 2px 3px 0 #dedede;border-radius: 0;background: #fefefe;position:relative;font-size:.9rem;cursor:pointer">
                Overview
            </div>
            <div data-number="{{ loop.index0 }}" class="explore_button main_buttons btn mr-2" style="box-shadow: 0 2px 3px 0 #dedede;border-radius: 0;background: #fefefe;position:relative;border:none;font-size:.9rem;cursor:pointer">
                Explore
            </div>
            <div data-number="{{ loop.index0 }}" class="visualise_button main_buttons btn mr-2" style="box-shadow: 0 2px 3px 0 #dedede;border-radius: 0;background: #fefefe;position:relative;border:none;font-size:.9rem;cursor:pointer">
                Visualise
            </div>
            <div data-number="{{ loop.index0 }}" class="indices_button main_buttons btn mr-2" style="box-shadow: 0 2px 3px 0 #dedede;border-radius: 0;background: #fefefe;position:relative;border:none;font-size:.9rem;cursor:pointer">
                Indices
            </div>
            <div data-number="{{ loop.index0 }}" class="label_button main_buttons btn mr-2" style="box-shadow: 0 2px 3px 0 #dedede;border-radius: 0;background: #fefefe;position:relative;border:none;font-size:.9rem;cursor:pointer">
                Label
            </div>
            <div data-number="{{ loop.index0 }}" class="settings_button main_buttons btn mr-2" style="box-shadow: 0 2px 3px 0 #dedede;border-radius: 0;background: #fefefe;position:relative;border:none;font-size:.9rem;cursor:pointer">
                Settings
            </div>
            <div class="search_container_div" style="position:relative;margin-left: auto;">
                <div class="quantext-search perform_search main-theme-color-dark" style="z-index:2;cursor:pointer;position: absolute;right: .8rem;font-size: 2rem;margin-top: .3rem;opacity: .5;"></div>
                <input type="text" class="form-control kwic_bar question_list main-theme-fill-dark" style="background: white!important;border: 1px solid #ccc;border-radius: 5rem;color: inherit!important;">
                <div class="mb-0 perform_search helper_text_white main-theme-color-dark" style="text-align: right;margin-top: .5rem;margin-right: .5rem;opacity: .75;">Search for a keyword</div>
            </div>
        </div>
        <div class="col-md-12 p-0 overview_panel overview_panel_{{ loop.index0 }}">
            <div class="row m-0">
                <div class="col-md-2 mt-4 p-0">
                    <div class="histogramChart first_chart p-4 main-theme-fill-1">
                        <div id="responsecount" class="mean_text">{{ responses[loop.index0]|length }}</div>
                        <div style="word-break: break-word;">Responses</div>
                    </div>
                </div>
                <div class="col-md-2 mt-4 p-0">
                    <div class="histogramChart p-4 main-theme-fill-2">
                        <div class="inner-banner"></div>
                        <div style="margin-bottom:1rem;display:flex;align-items:baseline;justify-content:space-between">
                            {% set vals = histograms[loop.index0]['Words'][0][0] %}
                            {% set bins = histograms[loop.index0]['Words'][0][1] %}
                            {% set _step = histograms[loop.index0]['Words'][2] %}

                            {% set max = histograms[loop.index0]['Words'][1] %}
                            {% for item in vals %}
                            {% set height = item/max*40 if item != 0 and item/max*40 > 1 else 1 %}
                            <div class="histo_bar {{ bins[ loop.index0 ] }}" data-bin="{{ bins[ loop.index0 ] }}" title="{{ bins[ loop.index0 ] }}-{{ bins[ loop.index0 ] + _step }} : {{ item }}" 
                            style="height:{{ height }}px;
                            {% if height == 1 %}
                                opacity:0.5;
                            {% endif %}
                            "></div>
                            {% endfor %}
                        </div>
                        <div style="display:flex;flex-direction:column">
                            <div class="mean_text" style="display: flex;flex-direction: column;">
                                <div style="font-size: .9rem;font-weight: 400;line-height:1.5">WORDS</div>
                                <div style="line-height:1">{{ "{:,}".format(total_WS[loop.index0]['Words_total']|int) if total_WS[loop.index0] else "" }}</div>                                 
                                <div style="font-size: .9rem;font-weight: 400;line-height:1;margin-top:1rem">MIN: {{ "{:,}".format(total_WS[loop.index0]['Words_min']|int) if total_WS[loop.index0] else "" }}</div>
                                <div style="font-size: .9rem;font-weight: 400;line-height:1">MAX: {{ "{:,}".format(total_WS[loop.index0]['Words_max']|int) if total_WS[loop.index0] else "" }}</div>
                                <div style="font-size: .9rem;font-weight: 400;line-height:1">MEAN: {{ "{0:.0f}".format(total_means[loop.index0]['Words']) if total_means[loop.index0] else "" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mt-4 p-0">
                    <div class="histogramChart p-4 main-theme-fill-2">
                        <div class="inner-banner"></div>
                        <div style="margin-bottom:1rem;display:flex;align-items:baseline;justify-content:space-between">
                            {% set vals = histograms[loop.index0]['Sentences'][0][0] %}
                            {% set bins = histograms[loop.index0]['Sentences'][0][1] %}
                            {% set _step = histograms[loop.index0]['Sentences'][2] %}

                            {% set max = histograms[loop.index0]['Sentences'][1] %}
                            {% for item in vals %}
                            {% set height = item/max*40 if item != 0 and item/max*40 > 1 else 1 %}
                            <div class="histo_bar {{ bins[ loop.index0 ] }}" data-bin="{{ bins[ loop.index0 ] }}" title="{{ bins[ loop.index0 ] }}-{{ bins[ loop.index0 ] + _step }} : {{ item }}" 
                            style="height:{{ height }}px;
                            {% if height == 1 %}
                                opacity:0.5;
                            {% endif %}
                            "></div>
                            {% endfor %}
                        </div>
                        <div style="display:flex;flex-direction:column">
                                <div class="mean_text" style="display: flex;flex-direction: column;">
                                    <div style="font-size: .9rem;font-weight: 400;line-height:1.5">SENTENCES</div>
                                    <div style="line-height:1">{{ "{:,}".format(total_WS[loop.index0]['Sentences_total']|int) if total_WS[loop.index0] else "" }}</div>                                 
                                    <div style="font-size: .9rem;font-weight: 400;line-height:1;margin-top:1rem">MIN: {{ "{:,}".format(total_WS[loop.index0]['Sentences_min']|int) if total_WS[loop.index0] else "" }}</div>
                                    <div style="font-size: .9rem;font-weight: 400;line-height:1">MAX: {{ "{:,}".format(total_WS[loop.index0]['Sentences_max']|int) if total_WS[loop.index0] else "" }}</div>
                                    <div style="font-size: .9rem;font-weight: 400;line-height:1">MEAN: {{ "{0:.0f}".format(total_means[loop.index0]['Sentences']) if total_means[loop.index0] else "" }}</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <h5 class="card-header centerFlex pl-0 pr-0 pb-0 mb-0 pt-4 small_text-9" style="background:#fff;">
                Most frequent words, bigrams and trigrams
                <div id="keywords_{{ file['id'] }}" data-id="{{ file['id'] }}" class="setting-switch" data-toggle="collapse" data-target="keyword_settings_{{ file['id'] }}_{{ question['number'] }}">
                    <div class="inner-icon quantext-settings" style="font-size:1.6rem;padding-top:.5rem"></div>
                </div>
            </h5>
            <div id="keyword_settings_{{ file['id'] }}_{{ question['number'] }}" class="collapse mb-0" style="position:relative">
                <div class="row m-0 p-0 pb-4 centerFlex">
                    <div class="col-md-2 p-0">
                        <div class="row m-0 centerFlex">
                            {{ macros.settings_select("settings_nkey_"+file['id']|string+"_"+question['number']|string,"nkey", "Show", [("10","10"),("25","25"),("50","50"),("100","100"),("all","all")], "Select from 10 to 30 words and ngrams (bigrams & trigrams) to display. This is currently available in steps of 5. i.e. 10, 15, 20 etc.",6,"pr-4", file, analysis['files'][file['id']|string]['columns'][question['number']]['settings'], question['number']) }}
                            <div class="col-md-5 p-0">
                                <div class="row m-0 mt-3 centerFlex" style="/* padding-bottom:.8rem; */font-size:.8rem;">
                                    <div class="col-md-12 m-0 p-0 pretty p-default p-round p-thick p-setting">
                                        <input data-file_id="{{ file['id'] }}" data-question_number="{{ question['number'] }}"
                                               {% if analysis['files'][file['id']|string]['columns'][question['number']]['settings']['reverse_lists'] == True or analysis['files'][file['id']|string]['columns'][question['number']]['settings']['reverse_lists'] == 'True' %}
                                        checked="checked"
                                        {% endif %}
                                        class="setting-control" name="reverse_lists" id="settings_reverse_lists_{{ file['id']|string }}_{{ question['number']|string }}" type="checkbox" />
                                        <div class="state">
                                            <label class="small_text-8" style="margin-left: .2rem;font-weight:500">Reverse</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 p-0">
                        <div class="row m-0">
                            {{ macros.settings_select("settings_measure_"+file['id']|string+"_"+question['number']|string,"measure", "Measure", [("STUDT","STUDT"),("LR","LR"),("PMI","PMI"),("CHISQ","CHISQ"),("RAW","RAW")], "Select the algorithm to calculate the key ngrams to display - in other words, ngrams which occur more often than expected by chance given their individual word frequencies. Depending on the size and nature of the text some measures may yield more useful results than others. The default setting is Student's t (STUDT). However, RAW frequency will always be used if there is a problem calculating any selected statistic.",3,"pr-4", file, analysis['files'][file['id']|string]['columns'][question['number']]['settings'],question['number']) }}
                            {{ macros.settings_select("settings_window_"+file['id']|string+"_"+question['number']|string,"window", "Window", [("2","2"),("3","3"),("4","4"),("5","5"),("6","6"),("7","7"),("8","8"),("9","9"),("10","10"),("11","11"),("12","12")], "Relates to a collocation graph of responses.",2,"pr-4", file, analysis['files'][file['id']|string]['columns'][question['number']]['settings'], question['number']) }}
                            {{ macros.settings_select("settings_kblack_"+file['id']|string+"_"+question['number']|string,"filter_stops", "Blacklist", [("stops","Exclude blacklist words"),("none","Include blacklist words"),("ngstops","Include blacklist words (trigram only)")], "Exclude blacklist words from student responses. Blacklist words are typically function words like a, the, my, your etc. The default Quantext blacklist contains more than 1000 common function words. Use Edit blacklist to add or remove words from the default blacklist.",4,"pr-4", file, analysis['files'][file['id']|string]['columns'][question['number']]['settings'],question['number']) }}
                            {{ macros.settings_select("settings_lcase_"+file['id']|string+"_"+question['number']|string,"lcase", "Transform words", [("lcase","Lowercase words"),("lemma","Lemmatise words"),("none","None")], "Transform words to lowercase, or lemmatise words to affect word counts.",3,"pr-4", file, analysis['files'][file['id']|string]['columns'][question['number']]['settings'],question['number']) }}
                        </div>
                    </div>
                    <div class="col-md-5 p-0">
                        <div class="row m-0 mt-3" style="font-size:.8rem">
                            <div class="col-md-4 m-0 p-0 pretty p-default p-round p-thick p-setting">
                                <input data-file_id="{{ file['id'] }}" data-question_number="{{ question['number'] }}"
                                       {% if analysis['files'][file['id']|string]['columns'][question['number']]['settings']['filter_punct'] == True or analysis['files'][file['id']|string]['columns'][question['number']]['settings']['filter_punct'] == 'True' %}
                                checked="checked"
                                {% endif %}
                                class="setting-control" name="filter_punct" id="settings_punct_{{ file['id']|string }}_{{ question['number']|string }}" type="checkbox" />
                                <div class="state">
                                    <label class="small_text-8" style="margin-left: .2rem;font-weight:500">Filter punctuation</label>
                                </div>
                            </div>
                            <div class="col-md-4 m-0 p-0 pretty p-default p-round p-thick p-setting">
                                <input data-file_id="{{ file['id'] }}" data-question_number="{{ question['number'] }}"
                                       {% if analysis['files'][file['id']|string]['columns'][question['number']]['settings']['filter_nums'] == True or analysis['files'][file['id']|string]['columns'][question['number']]['settings']['filter_nums'] == 'True' %}
                                checked="checked"
                                {% endif %}
                                class="setting-control" name="filter_nums" id="settings_nums_{{ file['id']|string }}_{{ question['number']|string }}" type="checkbox" />
                                <div class="state">
                                    <label class="small_text-8" style="margin-left: .2rem;font-weight:500">Filter numbers</label>
                                </div>
                            </div>
                            <div class="col-md-4 m-0 p-0 pretty p-default p-round p-thick p-setting">
                                <input data-file_id="{{ file['id'] }}" data-question_number="{{ question['number'] }}"
                                    {% if analysis['files'][file['id']|string]['columns'][question['number']]['settings']['norm_contractions'] == True or analysis['files'][file['id']|string]['columns'][question['number']]['settings']['norm_contractions'] == 'True' %}
                                        checked="checked"
                                    {% endif %}
                                    class="setting-control" name="norm_contractions" id="settings_norm_contractions_{{ file['id']|string }}_{{ question['number']|string }}" type="checkbox" />
                                <div class="state">
                                    <label class="small_text-8" style="margin-left: .2rem;font-weight:500">Normalise contractions</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="response_summary_{{ file['id'] }}">
                <div id="word_list_{{ question['number'] }}" class="row m-0 pt-2 word_list" style="font-size:.9rem">
                    {% set features = top_features[question['number']] %}
                    {% if features %}
                        {% include 'keywords.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% set tuples = responses[loop.index0] %}
        <div class="explore_panel mt-2 hiddenNotHidden w-100 explore_panel_{{ loop.index0 }}" style="display:flex">
            {% include 'question_response_explorer.html' %}
        </div>
        <div class="viz_panel mt-2 hiddenNotHidden w-100 viz_panel_{{ loop.index0 }}" data-question="{{ question['number'] }}">
            {% include 'partials/no_visual.html' %}
        </div>
        <div class="indices_panel hiddenNotHidden w-100 indices_panel_{{ loop.index0 }}" data-question="{{ question['number'] }}">
            {% include 'indices.html' %}
        </div>
        <div class="label_panel mt-3 pt-2 hiddenNotHidden w-100 label_panel_{{ loop.index0 }}" data-question="{{ question['number'] }}">
            {% include 'labeller.html' %}
        </div>
        <div class="row m-0 pt-4 settings_panel hiddenNotHidden w-100 settings_panel_{{ loop.index0 }}" data-question="{{ question['number'] }}">
            {% include 'question_settings.html' %}
        </div>
    </div>
</div>


{% endfor %}